.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/pina_dataset.csv
data/covariates.csv
fits/model_f.rds
fits/model_m.rds
predictions/draws_mod.csv
predictions/preds_mod.csv
tmp_files/draws_model_f.rds
tmp_files/draws_model_m.rds
tmp_files/preds_model_f.rds
tmp_files/preds_model_m.rds
figures/2024-06-17_model_f_age-trends.pdf
figures/2024-06-17_model_f_fixed_effects.pdf
figures/2024-06-17_model_f_rf_age_year_region.pdf
figures/2024-06-17_model_f_year-trends.pdf
figures/2024-06-17_model_m_age-trends.pdf
figures/2024-06-17_model_m_fixed_effects.pdf
figures/2024-06-17_model_m_rf_age_year_region.pdf
figures/2024-06-17_model_m_year-trends.pdf
